@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">First web page</h1>
        <p class="lead"> Building!!</p>
        
    </section>

    <div class="row">
        
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">More about it</h2>
            <p>Portafolio coming!</p>
            
        </section>
      
    </div>
</main>